<h2>Sign In</h2>

<%= form_with scope: :session, url: sign_in_path do |f| %>
    <table>
        <tr>
            <td>
                <%= f.label :name %>
            </td>
            <td>
                <%= f.text_field :name %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :password %>
            </td>
            <td>
                <%= f.password_field :password %>
            </td>
        </tr>
        <tr>
            <td>
                <%= f.label :password_confirmation %>
            </td>
            <td>
                <%= f.password_field :password_confirmation %>
            </td>
        </tr>
    </table>

    <%= f.submit 'Sign In' %>
<% end %>
