<div class="article d-sm-flex">
  <div class="article-img">
    <%= image_tag(article.image)if article.image.attached? %>
  </div>
  <div class="card"">
    <div class="card-body">
      <h5 class="card-title"><%= article.title %></h5>
      <p class="card-text"><%= article.text %></p>
      <p class="card-text author"><small class="text-muted">By <%= article.author.user_name %></small></p>
      
      <% if article.author == current_user %>
        <%= link_to 'Edit', edit_article_path(article), class: "btn-sm btn-primary" %>
      <% end %>
      
      <%= display_vote_button(article) %>
    </div>
  </div>
</div>


