<%= form_with model: @article do |f| %>
    <form class="row">
        <div class="form-group">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :text, "Text" %>
            <%= f.text_area :text, class: "form-control" %>
        </div>
        <div class="form-group">
            <%= f.label :category, "Choose Category" %>
            <%= collection_select(:article, :categories, Category.all, :id, :name, {}, {class: "form-control"})%>
        </div>
        <div class="form-group">
            <%= f.label :image, "Upload image" %>
            <%= f.file_field :image, class: "form-control-file", direct_upload: true %>
        </div>
        <%= f.submit class: "btn btn-primary"%>
    </form>
<% end %>
