<div class="category">
    <%= image_tag latest_article(category).image, class: "category-image" if latest_article(category).image.attached? %>
    <%= link_to category.name, category_path(category), class: "category-name ml-3" %>
    <span class="badge badge-light priority mr-3"><%= category.priority %></span>
    <p class="category-text ml-3"><%= latest_article(category).title %></p>
    <%= display_vote_button(latest_article(category)) %>
</div>