<nav class="navbar navbar-expand-lg navbar-light bg-white h-75">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">WildStyle<span class="dot">•</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  flex-grow-1">
        <li class="nav-item ml-auto">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BIRDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#>">CATS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FISH</a>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item ml-auto"><%= link_to current_user.name.upcase!, root_path, class: "nav-link text-underline" %></li>
            <li class="nav-item"><%= link_to 'SIGN OUT', sign_in_path, method: :delete, class: "nav-link" %></li>
        <% else %>
            <li class="nav-item ml-auto"> <%= link_to 'LOG IN', sign_in_path, class: "nav-link" %> </li>
            <div class="nav-item"><div class="nav-link px-0">|</div></div>
            <li class="nav-item"> <%= link_to 'REGISTER', sign_up_path, class: "nav-link" %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>